<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Rails Tut</h1>
  <h2>
    Learn Ruby on Rails
  </h2>
  <p>
    Sign in, or join up now!
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>