  <li>
    <%= gravatar_for user %>
    <b><%= link_to user.name, user %></b>
    <% if current_user.admin? && !current_user?(user)  %>
      <div id=<%= "admin_links_#{user.id}" %>>
        <%= render 'admin_links', user: user %>
      </div>
      <% end %>
  </li>
  